Digital Expression Explorer Data /.env
Digital Expression Explorer Data /scerevisiae_ke.tsv.bz2
Digital Expression Explorer Data /scerevisiae_ke.tsv
borzoi training
bowtie2-**
data/NCBI_strains
data/SGD_strains
data/SRR13696535-BY4741-experiment
pipeline/**/inputs
pipeline/**/outputs
data/ncbi_genome_dump.json
.env
clex-415415-c0e15ddc31f8.json
experiments/
strain_graph/
data/atcc/pages
basenji/**
wandb/**
pipeline/utils/datasets
pipeline/utils/ncbi_dataset.zip
dataset/coverage_norm/**
dataset/sequence/one_hot/**
dataset/sequence/fasta/**
S288C-experiment/**
venv/**
__pycache__/model.cpython-39.pyc
pipeline/0_fetch_biosample_pages/__pycache__/__init__.cpython-39.pyc
pipeline/1_parse_biosample_pages/__pycache__/__init__.cpython-39.pyc
pipeline/2_aggregate_biosample_pages/__pycache__/__init__.cpython-39.pyc
pipeline/__pycache__/__init__.cpython-39.pyc
pipeline/utils/__pycache__/__init__.cpython-39.pyc
data/genome-indices/**
venv/**
test-nf/
dataset/.DS_Store
dataset/__pycache__/process_bw.cpython-310.pyc
dataset/__pycache__/process_fasta.cpython-310.pyc
dataset/sequence/.DS_Store
venv-vis/**
__pycache__/**
artifacts/
bigwig/
logs/
pred_bigwigs/**
SRR21628664_Signal.Unique.str1.out.bw
SRR22383426_Signal.Unique.str2.out.bw
clex/__pycache__/__init__.cpython-39.pyc
clex/__pycache__/dataset.cpython-39.pyc
clex/__pycache__/model.cpython-39.pyc
R64-1-1.fa
clex.egg-info/**
**__pycache__**
bedGraphToBigWig
figures/GSM7671181_481_coverage_forward_bs1.bw
figures/GSM7671181_481_coverage_forward_normalised_bs1.bw
figures/GSM7671181_481_coverage_reverse_bs1.bw
figures/GSM7671181_481_coverage_reverse_normalised_bs1.bw
runs/
data-splitting/blat-results/blat/**
data-splitting/blat/**
data-splitting/cut_graph.dot
data-splitting/cut_graph.gml
data-splitting/final.gff
data-splitting/gh_tree_igraph.dot
data-splitting/gh_tree_igraph.gml
data-splitting/gh_tree.dot
data-splitting/gh_tree.gml
data-splitting/gh_tree.html
data-splitting/homology_graph.dot
data-splitting/homology_graph.gml
data-splitting/homology_graph.png
data-splitting/homology.csv
data-splitting/out_demo.psl
data-splitting/out.blast8
data-splitting/out.psl
data-splitting/R64-1-1.fasta
data-splitting/seq_df.csv
data-splitting/social_network.gml
data-splitting/social_network.jpg
data-splitting/social_network.pdf
data-splitting/social_network.png
data-splitting/SRR21628668_Signal.Unique.str1.out.bw
data-splitting/SRR21628668_Signal.Unique.str2.out.bw
data/seq_df.csv
data/samples_with_track_values.csv
data/samples_with_track_values.parquet
data/samples_with_track_values.pkl
data-splitting/lib/bindings/utils.js
data-splitting/lib/tom-select/tom-select.complete.min.js
data-splitting/lib/tom-select/tom-select.css
data-splitting/lib/vis-9.1.2/vis-network.css
data-splitting/lib/vis-9.1.2/vis-network.min.js
GSE104878_20160609_average_promoter_ELs_per_seq_pTpA_ALL.shuffled.txt
hg38.prefix.fa
JS710.SRR1171382.scaffolds.fasta
output_5000_2e-10.gff
output.blast8
output.gff
S288C_reference_sequence_R64-5-1_20240529.fsa
saccharomyces_cerevisiae_R64-5-1_20240529.gff
Saccharomyces_cerevisiae.R64-1-1.111.gtf
samples.fasta
samples.gff
clex/__pycache__/loss.cpython-39.pyc
clex/__pycache__/modules.cpython-39.pyc
**.pyc**
**borzoi_pytorch.egg-info**
**.npy
homology_graph.gml
clex/__pycache__/**
data/dataset_with_folds_and_id.parquet
data/data-splitting/trunc-bw/*
data/data-splitting/yac-bw/*
data/data-splitting/extracted_windows/*
data/data-splitting/filtered-bw/*
data/data-splitting/merged-bw/*
data/data-splitting/yac-fasta/*
data/data-splitting/combined_genome_renamed.fa
data/data-splitting/combined_genome.fa
data/data-splitting/combined_human_chroms_reverse.bw
data/data-splitting/combined_human_chroms.bw
data/samples_sample_5000_context_1000_2025-03-18_13-43-38.gff
data/samples_sample_5000_context_1000_2025-03-19_12-02-33.gff
data/seq_df_1903_1219.csv
data/seq_df_190325_1108.csv
data/data-splitting/renamed-bw/*
data/data-splitting/filtered-merged-bw/*
data/data-splitting/samples_final_combined.gtf
data/data-splitting/samples_sample_5000_context_1000_2025-03-18_13-43-38.gff
data/data-splitting/seq_df_2025-03-19.csv
data/data-splitting/seq_df_with_tracks.csv
data/data-splitting/seq_df_with_tracks.parquet
data/data-splitting/dump_test_samples.json
data/data-splitting/final_combined_fwd.bw
data/data-splitting/final_combined_rev.bw
output_jit.prof
output.prof
output2.prof
run_train.py.lprof
track_values_histogram_train.png
track_values_histogram_val.png
clex/__pycache__/loss.cpython-39.pyc
clex/__pycache__/utils.cpython-39.pyc
data/926e5_NC_000017.11_+_1_4000.fasta
data/samples_25-03-25.pkl
data/samples_with_track_values_1903_1229.pkl
data/samples_with_track_values_1903_1324.pkl
data/samples_with_track_values_1903_1344.pkl
data/samples_with_track_values_1903_1705.pkl
data/data-splitting/array_visualization.png
data/data-splitting/track_row_annotation.json
results/ablation_evaluation_results/ablation_correlation_plot.png
results/ablation_evaluation_results/ablation_results.csv
data/data-splitting/yac_chrom_sizes/*
data/data-splitting/759h10_ch4.bam
data/data-splitting/yac-bw-renamed/*
data/data-splitting/950c12_coverage_forward_bs1.bw
data/data-splitting/950c12_coverage_reverse_bs1.bw
data/data-splitting/950c12_Signal.Unique.str1.out.bw
data/data-splitting/950c12_Signal.Unique.str2.out.bw
data/data-splitting/yac-bw-renamed-trunc/*
data/data-splitting/yac-bw-renamed-trunc-nonan/*
data/data-splitting/combined-fasta/*
data/combined-fasta/*
data/yac-bw/*
data/yac-bw-renamed/*
data/759h10_NC_000004.12_+_101331_106330.psl
data/yac_chrom_sizes/*
data/data-splitting/merged_fwd.bw
data/data-splitting/merged_rev.bw
data/yac-bw-renamed-trunc/*
data/yac-fasta/*
.venv/**
data/YAC-STAR Results/*
data/759h10_ch4_Signal.Unique.str1.out.bw
data/759h10_ch4_Signal.Unique.str2.out.bw
data/802D1_new_Signal.Unique.str1.out.bw
data/802D1_new_Signal.Unique.str2.out.bw
data/combined_genome.fa
data/combined_genome.fa.fai
data/YAC-bw-from-BAM/*
data/data-splitting/NC_001148.4_-_62841_67840.fasta
data/data-splitting/NC_001148.4_-_62841_67840.psl
data/data-splitting/samples_25-03-25.pkl
data/data-splitting/samples_sample_5000_context_1000_2025-03-19_12-14-51.gff
data/delete.ipynb
data/distance_histogram.png
data/samples_sample_5000_context_1000_2025-03-31_16-48-00.gff
data/seq_df_with_folds.csv
data/SRR21628668_Signal.Unique.str1.out.renamed.bw
data/dChr.chrom.sizes
old_samples_no_del_normed.pkl
samples_6ec0812b-c047-41ea-898b-be7ca2542396.pkl
data/wandb/*
test_model/sample_visualizations/*
data/data-splitting/tbt/*
results/path/to/save/*
data/data-splitting/yac-bw-renamed-trunc copy/*
data/data-splitting/samples_25-03-25_test.gff
data/data-splitting/samples_25-03-25_train.gff
data/data-splitting/samples_25-03-25_val.gff
data/data-splitting/samples_old_renamed_chr11_test.gff
data/data-splitting/samples_old_renamed_chr11_train.gff
data/data-splitting/samples_old_renamed_chr11_val.gff
data/data-splitting/SRR21628668_Signal.Unique.str1.renamed.bw
data/data-splitting/SRR21628668_Signal.Unique.str2.renamed.bw
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_test_-.gff
data/data-splitting/trunced/926e5_Signal.Unique.str1.out.bw
data/data-splitting/trunced/926e5_Signal.Unique.str2.out.bw
data/data-splitting/trunced/950c12_Signal.Unique.str1.out.bw
data/data-splitting/trunced/950c12_Signal.Unique.str2.out.bw
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_test_+.gff
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_train_-.gff
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_train_+.gff
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_val_-.gff
data/data-splitting/samples_6ec0812b-c047-41ea-898b-be7ca2542396_MT_removed_val_+.gff
data/investigate-unnormalized-model/sample_visualizations/*
results/eval-unnormed-model-normed-data/sample_visualizations/*
data/investigate-unnormalized-model/track_correlations.csv
data/investigate-unnormalized-model/track_correlations.png
data/investigate-unnormalized-model/true_vs_pred_best_sample.png
results/eval-unnormed-model-normed-data/metrics.json
results/eval-unnormed-model-normed-data/track_correlations.csv
results/eval-unnormed-model-normed-data/track_correlations.png
results/eval-unnormed-model-normed-data/true_vs_pred_best_sample.png
data/data-splitting/track_annotations.json
data/investigate-unnormalized-model/metrics.json
data/data-splitting/old_samples_no_del_normed.pkl
data/data-splitting/old_samples_no_del.pkl
.venv/**
clex/benchmark/Downstream_Targets/*
clex/benchmark/Brooks2022/genomes/*
clex/benchmark/DREAM/test_subset_ids/all_random_seqs.csv
clex/benchmark/DREAM/test_subset_ids/all_SNVs_seqs.csv
clex/benchmark/DREAM/test_subset_ids/challenging_seqs.csv
clex/benchmark/DREAM/test_subset_ids/high_exp_seqs.csv
clex/benchmark/DREAM/test_subset_ids/low_exp_seqs.csv
clex/benchmark/DREAM/test_subset_ids/motif_perturbation.csv
clex/benchmark/DREAM/test_subset_ids/motif_tiling_seqs.csv
clex/benchmark/DREAM/test_subset_ids/yeast_seqs.csv
clex/benchmark/Brooks2022/science.abg0162_table_s3.txt
data/track_values/*
clex/benchmark/DREAM/public_leaderboard_ids/challenging_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/ground.json
clex/benchmark/DREAM/public_leaderboard_ids/high_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/low_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/motif_perturbation_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/motif_tiling_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/random_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/sample_submission.json
clex/benchmark/DREAM/public_leaderboard_ids/SNVs_exp_indices.json
clex/benchmark/DREAM/public_leaderboard_ids/yeast_exp_indices.json
clex/benchmark/DREAM/filtered_test_data_with_MAUDE_expression.txt
clex/benchmark/DREAM/GSE254493_filtered_test_data_with_MAUDE_expression.txt
cuda-keyring_1.1-1_all.deb
samples_050525.pkl
clex/benchmark/Downstream.ipynb
clex/eval/Brooks2022/science.abg0162_table_s3.txt
clex/eval/Brooks2022/genomes/JS94_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS94_ERCC92.genome
clex/eval/Brooks2022/genomes/JS96_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS96_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS96_ERCC92.genome
clex/eval/Brooks2022/genomes/JS274_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS274_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS274_ERCC92.genome
clex/eval/Brooks2022/genomes/JS571_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS571_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS571_ERCC92.genome
clex/eval/Brooks2022/genomes/JS599_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS599_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS599_ERCC92.genome
clex/eval/Brooks2022/genomes/JS601_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS601_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS601_ERCC92.genome
clex/eval/Brooks2022/genomes/JS602_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS602_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS602_ERCC92.genome
clex/eval/Brooks2022/genomes/JS603_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS603_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS603_ERCC92.genome
clex/eval/Brooks2022/genomes/JS604_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS604_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS604_ERCC92.genome
clex/eval/Brooks2022/genomes/JS605_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS605_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS605_ERCC92.genome
clex/eval/Brooks2022/genomes/JS606_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS606_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS606_ERCC92.genome
clex/eval/Brooks2022/genomes/JS607_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS607_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS607_ERCC92.genome
clex/eval/Brooks2022/genomes/JS608_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS608_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS608_ERCC92.genome
clex/eval/Brooks2022/genomes/JS609_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS609_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS609_ERCC92.genome
clex/eval/Brooks2022/genomes/JS610_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS610_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS610_ERCC92.genome
clex/eval/Brooks2022/genomes/JS611_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS611_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS611_ERCC92.genome
clex/eval/Brooks2022/genomes/JS612_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS612_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS612_ERCC92.genome
clex/eval/Brooks2022/genomes/JS613_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS613_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS613_ERCC92.genome
clex/eval/Brooks2022/genomes/JS614_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS614_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS614_ERCC92.genome
clex/eval/Brooks2022/genomes/JS615_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS615_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS615_ERCC92.genome
clex/eval/Brooks2022/genomes/JS617_ERCC92.genome
clex/eval/Brooks2022/genomes/JS618_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS618_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS618_ERCC92.genome
clex/eval/Brooks2022/genomes/JS621_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS621_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS621_ERCC92.genome
clex/eval/Brooks2022/genomes/JS622_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS622_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS622_ERCC92.genome
clex/eval/Brooks2022/genomes/JS623_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS623_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS623_ERCC92.genome
clex/eval/Brooks2022/genomes/JS624_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS624_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS624_ERCC92.genome
clex/eval/Brooks2022/genomes/JS625_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS625_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS625_ERCC92.genome
clex/eval/Brooks2022/genomes/JS626_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS626_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS626_ERCC92.genome
clex/eval/Brooks2022/genomes/JS627_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS627_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS627_ERCC92.genome
clex/eval/Brooks2022/genomes/JS628_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS628_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS628_ERCC92.genome
clex/eval/Brooks2022/genomes/JS629_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS629_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS629_ERCC92.genome
clex/eval/Brooks2022/genomes/JS705_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS705_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS705_ERCC92.genome
clex/eval/Brooks2022/genomes/JS706_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS706_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS706_ERCC92.genome
clex/eval/Brooks2022/genomes/JS707_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS707_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS707_ERCC92.genome
clex/eval/Brooks2022/genomes/JS708_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS708_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS708_ERCC92.genome
clex/eval/Brooks2022/genomes/JS709_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS709_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS709_ERCC92.genome
clex/eval/Brooks2022/genomes/JS710_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS710_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS710_ERCC92.genome
clex/eval/Brooks2022/genomes/JS711_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS711_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS711_ERCC92.genome
clex/eval/Brooks2022/genomes/JS712_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS712_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS712_ERCC92.genome
clex/eval/Brooks2022/genomes/JS713_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS713_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS713_ERCC92.genome
clex/eval/Brooks2022/genomes/JS714_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS714_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS714_ERCC92.genome
clex/eval/Brooks2022/genomes/JS715_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS715_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS715_ERCC92.genome
clex/eval/Brooks2022/genomes/JS716_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS716_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS716_ERCC92.genome
clex/eval/Brooks2022/genomes/JS717_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS717_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS717_ERCC92.genome
clex/eval/Brooks2022/genomes/JS718_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS718_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS718_ERCC92.genome
clex/eval/Brooks2022/genomes/JS719_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS719_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS719_ERCC92.genome
clex/eval/Brooks2022/genomes/JS720_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS720_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS720_ERCC92.genome
clex/eval/Brooks2022/genomes/JS721_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS721_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS721_ERCC92.genome
clex/eval/Brooks2022/genomes/JS722_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS722_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS722_ERCC92.genome
clex/eval/Brooks2022/genomes/JS723_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS723_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS723_ERCC92.genome
clex/eval/Brooks2022/genomes/JS724_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS724_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS724_ERCC92.genome
clex/eval/Brooks2022/genomes/JS725_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS725_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS725_ERCC92.genome
clex/eval/Brooks2022/genomes/JS726_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS726_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS726_ERCC92.genome
clex/eval/Brooks2022/genomes/JS727_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS727_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS727_ERCC92.genome
clex/eval/Brooks2022/genomes/JS728_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS728_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS728_ERCC92.genome
clex/eval/Brooks2022/genomes/JS729_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS729_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS729_ERCC92.genome
clex/eval/Brooks2022/genomes/JS730_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS730_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS730_ERCC92.genome
clex/eval/Brooks2022/genomes/JS731_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS731_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS731_ERCC92.genome
clex/eval/Brooks2022/genomes/JS732_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS732_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS732_ERCC92.genome
clex/eval/Brooks2022/genomes/JS733_ERCC92.fasta
clex/eval/Brooks2022/genomes/JS733_ERCC92.fasta.fai
clex/eval/Brooks2022/genomes/JS733_ERCC92.genome
clex/eval/Downstream_Targets/df_Keren2013_predictions.csv
clex/eval/Downstream_Targets/df_Yamanishi2013_predictions.csv
clex/eval/Downstream_Targets/Microarray_raw_dedup.csv
clex/eval/Downstream_Targets/Pombe_half_life.csv
clex/eval/Downstream_Targets/Scer_half_life.csv
clex/eval/Downstream_Targets/scerevisiae_tpm_full_cut5.csv
clex/eval/Downstream_Targets/segal_2015.tsv
clex/eval/Downstream_Targets/segal_expression.tsv
clex/eval/Downstream_Targets/segal_sequences.tsv
clex/eval/Downstream_Targets/test_gene_ids.csv
clex/eval/Downstream_Targets/yamanishi_terminator.tsv
clex/eval/DREAM/filtered_test_data_with_MAUDE_expression.txt
clex/eval/DREAM/GSE254493_filtered_test_data_with_MAUDE_expression.txt
clex/eval/DREAM/test_subset_ids/all_random_seqs.csv
clex/eval/DREAM/test_subset_ids/all_SNVs_seqs.csv
clex/eval/DREAM/test_subset_ids/challenging_seqs.csv
clex/eval/DREAM/test_subset_ids/high_exp_seqs.csv
clex/eval/DREAM/test_subset_ids/low_exp_seqs.csv
clex/eval/DREAM/test_subset_ids/motif_perturbation.csv
clex/eval/DREAM/test_subset_ids/motif_tiling_seqs.csv
clex/eval/DREAM/test_subset_ids/yeast_seqs.csv
clex/eval/DREAM/public_leaderboard_ids/challenging_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/ground.json
clex/eval/DREAM/public_leaderboard_ids/high_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/low_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/motif_perturbation_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/motif_tiling_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/random_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/sample_submission.json
clex/eval/DREAM/public_leaderboard_ids/SNVs_exp_indices.json
clex/eval/DREAM/public_leaderboard_ids/yeast_exp_indices.json
gcloud-config/clex-415415-0369d62deb35.json
data/samples_060525.pkl
gcp-backup/clex-415415-0369d62deb35.json
git-backup.log
gcp-backup/cron.log
clex/eval/brooks/science.abg0162_table_s3.txt
clex/eval/brooks/bigwigs/*
clex/eval/brooks/genomes/*
clex/eval/brooks/brooks_eval_df.pkl
clex/eval/brooks/track_values/*
data/data-splitting/track_values_test/*
clex/eval/brooks/brooks_eval_df.pkl_with_preds.pkl
clex/eval/brooks/brooks_sample_correlations.csv
data/old_samples_no_del_normed_with_tracks.pkl
*.pkl
*.npz
data/samples_260625/samples.pkl
data/samples_060525/samples.pkl
data/samples_290625/samples.pkl
data/samples_290625/track_values/*
clex/eval/scramble/bigwigs/*
clex/eval/scramble/genomes/*
clex/eval/scramble/science.abg0162_table_s3.txt
clex/eval/shalem/segal_2015.tsv
clex/eval/terminator/segal_2015.tsv
clex/eval/promoter/filtered_test_data_with_MAUDE_expression.txt
clex/eval/scramble/brooks_sample_correlations.csv
